@model IEnumerable<DataModels.Article>

@{
    ViewData["Title"] = "Development Links for Articles";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a asp-controller="Article" asp-action="Listing">Listing Page</a>
    </li>
    <li>
        <a asp-controller="Article" asp-action="Create">Create Page</a>
    </li>
    <li>
        <a asp-controller="Article" asp-action="Delete">Go directly to a delete option</a>
    </li>
</ul>